<head>
    <base href='http://127.0.0.1:8000'>
</head>
<body>
    <h1>Dwitter</h1>
    <a href='/notifications/'><p>Notifications: {{notifs}}</p></a>
    <a href='/user/{{ user }}/'>{{ user }}</a>
    <ul>
        {% for dweet in data %}
        <li>
            <a href='/user/{{ dweet.user }}/'>{{dweet.user}}</a>
            <br>
            <p>{{dweet.dweet}} -<a href='/dweet/{{ dweet.id }}/'>D</a></p>
        </li>
        {% endfor %}
    </ul>
<a href='login/'>Login</a>
<a href='signup/'>Signup</a>
<a href='send_dweet/'>Dweet</a>
</body>