<body>
    <h1>{{data.name}}</h1>
    <p>Dweet Count: {{ count }}</p>
    <p>Following Count: {{ following_count }}</p>
    <form action='/user/{{ data.name }}/' method='post'>
        {% csrf_token %}
    <input type='submit' value='Follow' name='follow'>
    <form action='/user/{{ data.name }}/' method='post'>
        {% csrf_token %}
    <input type='submit' value='UnFollow' name='unfollow'>
    <ul>
    {% for dweet in dweets %}
        <li>{{dweet.user}}</li>
        <ul>
            <li>{{dweet.dweet}}
                <a href='/dweet/{{ dweet.id }}/'>D</a>
            </li>
        </ul>
    {% endfor %}
    </ul>
    <a href='/'>Return to the Homepage</a>
</body>